<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="migration.mapper.source.保証検討表補足SourceMapper">

    <resultMap id="hoshoBosokuSourceMap" type="migration.domain.source.保証検討表補足Source">
        <id property="申込番号" column="申込番号"/>
        <id property="申込目的" column="申込目的"/>
    </resultMap>

    <select id="selectByApplicationIdAndPurpose" resultMap="hoshoBosokuSourceMap">
        SELECT
            申込番号,
            申込目的
        FROM 保証検討表補足
        WHERE 申込番号 = #{申込番号}
          AND 申込目的 = #{申込目的}
    </select>

</mapper>
